
    {{>headerAd}}
    <div class="form-style-5">
        <form method="post" action="/store">
        <h1>Thêm sách</h1>
        <fieldset>
        <legend><span class="number">1</span>Tên Sách</legend>
        <input type="text" name="name" placeholder="Tên sách">
        <legend><span class="number">2</span>Tác Giả</legend>
        <input type="text" name="author" placeholder="Tác giả">
        <legend><span class="number">3</span>Mô tả</legend>
        <textarea name="description" placeholder="Mô tả"></textarea>
        {{!-- <legend><span class="number">4</span>Video Id</legend>
        <input type="text" name="videoId" placeholder="Video Id"> --}}
        <legend><span class="number">4</span>Image</legend>
        <input type="text" name="image" placeholder="Image">
        </fieldset>
        
     
        <button type="submit">Thêm sách</button> 
        </form>
        </div>
