<header class="header">
    <div class="header-1">
        <a href="/" class="logo"><i class="fas fa-book"></i>bookly</a>
        
        <form action="/search" class="search-form" method="get">
            <input type="search" name="q" placeholder="search here..." id="search-box">
            <button for="search-box" type="submit" class="fas fa-search"></button>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"></a>
            <a href="/create" class="fas fa-upload"></a>
            <a class="fas fa-user" href="/login"></a>

        </div>
    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="#featured">Featured</a>
            <a href="#arrivals">Arrivals</a>
            <a href="">Reviews</a>
            <a href="">Blogs</a>
        </nav>
    </div>
</header>

<!--header section end-->
<!--bottom navbar-->
<nav class="bottom-navbar">
    <a href="" class="fas fa-home"></a>
    <a href="" class="fas fa-list"></a>
    <a href="" class="fas fa-tags"></a>
    <a href="" class="fas fa-comments"></a>
    <a href="" class="fas fa-blogs"></a>
</nav>