{{>header}}
<div class="login-form-container active">
    <a id="close-login-btn" class="fas fa-times" href="/"></a>
     {{!-- <div id="close-login-btn" class="fas fa-times"><a href="/"></a></div> --}}
    <form method="post" action="/login/postLogin">
        <h3>Sign in</h3>
        <span>username</span>
        <input type="email" name="email" class="box" placeholder="Enter your email" id="">
        <span>password</span>
        <input type="password" name="password" class="box" placeholder="Enter your password" id="">
        <div class="checkbox">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
        <input type="submit" value="sign in" class="btn">
        <p>forget password ? <a href="">click here</a></p>
        <p>Don't have account ? <a href="/login/register">Create one</a></p>
    </form>
</div>
{{>footer}}